.loremIpsumDiv,
.myCoursesB {
  position: absolute;
  top: 456px;
  left: 196px;
  font-size: 28px;
  line-height: 28px;
  display: inline-block;
  color: #141414;
  width: 1329px;
}
.loremIpsumDiv {
  top: 494px;
  font-size: 19px;
  line-height: 27px;
  color: #1e1e1e;
  width: 1317px;
}
.rectangleDiv {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: #fff;
}
.cARDSCARDCURSOHOME4cols,
.groupDiv {
  position: absolute;
  top: 0;
  left: 0;
  width: 319px;
  height: 258px;
}
.groupDiv {
  top: 570px;
  left: 196px;
}
.cursoDeCRIPTOMONEDASYBLOCK {
  position: absolute;
  height: 18.18%;
  width: 99.69%;
  top: 53.03%;
  right: 0;
  bottom: 28.79%;
  left: 0.31%;
  font-size: 19px;
  line-height: 24px;
  display: inline-block;
  cursor: pointer;
}
.capturaDePantalla20221003 {
  width: 20.94%;
  position: absolute;
  height: 6.82%;
  top: 81.82%;
  right: 79.06%;
  bottom: 11.36%;
  left: 0;
}
.calificaEsteCurso,
.mundocryptoDiv {
  position: absolute;
  height: 7.2%;
  width: 39.06%;
  top: 81.06%;
  right: 39.06%;
  bottom: 11.74%;
  left: 21.88%;
  color: #aaa;
  display: inline-block;
}
.mundocryptoDiv {
  height: 8.33%;
  width: 99.69%;
  top: 72.73%;
  right: 0;
  bottom: 18.94%;
  left: 0.31%;
  line-height: 22px;
}
.rewardDiv {
  height: 100%;
  width: 52.78%;
  top: 0;
  right: 47.22%;
  left: 0;
  display: inline-block;
}
.div,
.groupDiv4,
.rewardDiv {
  position: absolute;
  bottom: 0;
}
.div {
  height: 100%;
  width: 40.74%;
  top: 0;
  right: 0;
  left: 59.26%;
  font-weight: 800;
  color: #287828;
  display: inline-block;
}
.groupDiv4 {
  height: 8.33%;
  width: 33.75%;
  top: 91.67%;
  right: 65.94%;
  left: 0.31%;
  font-size: 16px;
}
.capturaDePantalla202210031 {
  position: absolute;
  height: 49.62%;
  width: 99.69%;
  top: 0;
  right: 0;
  bottom: 50.38%;
  left: 0.31%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.groupDiv3 {
  position: absolute;
  height: 91.99%;
  width: 100.31%;
  top: 0;
  right: 0;
  bottom: 8.01%;
  left: -0.31%;
}
.groupDiv2,
.rectangleDiv1 {
  position: absolute;
  width: 319px;
}
.rectangleDiv1 {
  top: 278px;
  left: 0;
  background-color: #d9d9d9;
  height: 4px;
}
.groupDiv2 {
  top: 541px;
  left: 196px;
  height: 287px;
  color: #1e1e1e;
}
.capturaDePantalla202210032 {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  position: absolute;
  height: 6.82%;
  width: 20.94%;
  top: 81.82%;
  right: 79.06%;
  bottom: 11.36%;
  left: 0;
}
.groupDiv5,
.rectangleDiv2 {
  position: absolute;
  width: 319px;
}
.rectangleDiv2 {
  top: 278px;
  left: 0;
  background-color: #287828;
  height: 4px;
}
.groupDiv5 {
  top: 541px;
  left: 535px;
  height: 287px;
  color: #1e1e1e;
}
.capturaDePantalla202210034 {
  position: absolute;
  height: 6.82%;
  width: 20.94%;
  top: 81.82%;
  right: 79.06%;
  bottom: 11.36%;
  left: 0;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.groupDiv9 {
  position: absolute;
  height: 91.99%;
  width: 100.31%;
  top: 0;
  right: 0;
  bottom: 8.01%;
  left: -0.31%;
  text-align: left;
  font-size: 14px;
  color: #1e1e1e;
}
.progreso100Div,
.progreso60Div,
.sinComenzarDiv {
  position: absolute;
  height: 5.57%;
  width: 39.18%;
  top: 98.95%;
  right: 106.27%;
  bottom: -4.53%;
  left: -45.45%;
  display: inline-block;
}
.progreso60Div,
.sinComenzarDiv {
  right: 0;
  left: 60.82%;
}
.sinComenzarDiv {
  right: 213.17%;
  left: -152.35%;
  color: #141414;
}
.rectangleDiv4 {
  position: absolute;
  top: 278px;
  left: 0;
  background-color: #287828;
  width: 203px;
  height: 4px;
}
.groupDiv8,
.progreso60Div1 {
  position: absolute;
  top: 541px;
  left: 875px;
  width: 319px;
  height: 287px;
  text-align: right;
  font-size: 12px;
  color: #287828;
}
.progreso60Div1 {
  height: 5.57%;
  width: 39.18%;
  top: 98.95%;
  right: 0;
  bottom: -4.53%;
  left: 60.82%;
  display: inline-block;
}
.groupDiv11 {
  position: absolute;
  top: 541px;
  left: 1213px;
  width: 319px;
  height: 287px;
  color: #1e1e1e;
}
.comenzarDiv,
.vectorIcon {
  position: absolute;
  top: 8.39px;
  left: 0;
  width: 105px;
  height: 105px;
}
.comenzarDiv {
  top: 0;
  left: 24.78px;
  display: inline-block;
  width: 121.71px;
  height: 18.86px;
  transform: rotate(45deg);
  transform-origin: 0 0;
}
.groupDiv14,
.groupDiv15,
.groupDiv16,
.groupDiv18,
.groupDiv20 {
  position: absolute;
  top: 0;
  left: 0;
  width: 110.85px;
  height: 113.39px;
}
.groupDiv14,
.groupDiv16,
.groupDiv18,
.groupDiv20 {
  top: 532px;
  left: 409px;
  text-align: center;
  color: #fff;
}
.groupDiv16,
.groupDiv18,
.groupDiv20 {
  left: 749px;
}
.groupDiv18,
.groupDiv20 {
  top: 533px;
  left: 1087px;
}
.groupDiv20 {
  left: 1426px;
}
.aprendeLoBsico,
.nuestraSeleccinParaT,
.otrosEstnViendo,
.quMsAprender {
  position: absolute;
  top: 867px;
  left: 196px;
  font-size: 28px;
  line-height: 28px;
  display: inline-block;
  color: #141414;
  width: 1329px;
}
.aprendeLoBsico,
.nuestraSeleccinParaT,
.otrosEstnViendo {
  top: 1452px;
}
.aprendeLoBsico,
.nuestraSeleccinParaT {
  top: 2334px;
}
.nuestraSeleccinParaT {
  top: 905px;
  font-size: 19px;
  line-height: 27px;
  color: #1e1e1e;
  width: 1317px;
}
.groupDiv22 {
  position: absolute;
  top: 981px;
  left: 196px;
  width: 319px;
  height: 258px;
}
.cursoDeCRIPTOMONEDASYBLOCK4,
.div4 {
  position: absolute;
  height: 6.62%;
  width: 100%;
  top: 74.56%;
  right: 0;
  bottom: 18.82%;
  left: 0;
  display: inline-block;
}
.cursoDeCRIPTOMONEDASYBLOCK4 {
  height: 17.39%;
  top: 50.72%;
  bottom: 31.88%;
  font-size: 19px;
  line-height: 24px;
  cursor: pointer;
}
.capturaDePantalla202210038 {
  position: absolute;
  height: 6.52%;
  width: 21%;
  top: 78.26%;
  right: 71.79%;
  bottom: 15.22%;
  left: 7.21%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.div5 {
  height: 6.88%;
  width: 8.46%;
  top: 77.54%;
  right: 62.7%;
  bottom: 15.58%;
  left: 28.84%;
  font-size: 14px;
  display: inline-block;
}
.div5,
.div6,
.mundocryptoDiv4 {
  position: absolute;
  color: #aaa;
}
.mundocryptoDiv4 {
  height: 7.97%;
  width: 100%;
  top: 69.57%;
  right: 0;
  bottom: 22.46%;
  left: 0;
  font-size: 14px;
  line-height: 22px;
  display: inline-block;
}
.div6 {
  width: 18.81%;
  right: 54.23%;
  left: 26.96%;
}
.div6,
.div7,
.rewardDiv4 {
  height: 7.97%;
  top: 91.3%;
  bottom: 0.72%;
  display: inline-block;
}
.rewardDiv4 {
  position: absolute;
  width: 17.87%;
  right: 15.99%;
  left: 66.14%;
}
.div7 {
  width: 13.79%;
  right: 0;
  left: 86.21%;
  font-weight: 800;
  color: #287828;
}
.b,
.div7,
.groupIcon {
  position: absolute;
}
.b {
  height: 11.96%;
  width: 17.24%;
  top: 88.04%;
  right: 74.29%;
  bottom: 0;
  left: 8.46%;
  font-size: 24px;
  display: inline-block;
}
.groupIcon {
  height: 8.33%;
  width: 7.21%;
  top: 90.22%;
  right: 92.79%;
  bottom: 1.45%;
  left: 0;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.capturaDePantalla202210039,
.groupDiv25 {
  position: absolute;
  width: 100%;
  top: 0;
  right: 0;
  left: 0;
}
.capturaDePantalla202210039 {
  height: 47.46%;
  bottom: 52.54%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.groupDiv25 {
  height: 96.17%;
  bottom: 3.83%;
  font-size: 16px;
  color: #1e1e1e;
}
.groupDiv24,
.groupDiv26,
.groupDiv28,
.groupDiv30 {
  position: absolute;
  top: 952px;
  left: 196px;
  width: 319px;
  height: 287px;
}
.groupDiv26,
.groupDiv28,
.groupDiv30 {
  left: 535px;
}
.groupDiv28,
.groupDiv30 {
  left: 874px;
}
.groupDiv30 {
  left: 1213px;
}
.loremIpsumDiv1 {
  position: absolute;
  top: 1490px;
  left: 196px;
  font-size: 19px;
  line-height: 27px;
  color: #1e1e1e;
  display: inline-block;
  width: 1317px;
}
.groupDiv32,
.groupDiv34 {
  position: absolute;
  top: 1566px;
  left: 196px;
  width: 319px;
  height: 258px;
}
.groupDiv34 {
  top: 1537px;
  height: 287px;
}
.b2B {
  position: absolute;
  top: 0;
  left: 0;
  line-height: 28px;
  display: inline-block;
  width: 546px;
}
.instructoresDeTodo {
  margin-block-start: 0;
  margin-block-end: 0;
}
.proporcionamosLasHerramienta {
  margin: 0;
}
.instructoresDeTodoElMundo {
  position: absolute;
  top: 58px;
  left: 1px;
  font-size: 16px;
  line-height: 24px;
  display: inline-block;
  width: 545px;
  height: 131px;
}
.groupDiv37,
.rectangleDiv9 {
  position: absolute;
  top: 0;
  left: 0;
  width: 546px;
  height: 189px;
}
.rectangleDiv9 {
  background-color: #fff;
  border: 1px solid #141414;
  box-sizing: border-box;
  width: 315px;
  height: 50px;
}
.empiezaACrearUnCurso {
  position: absolute;
  top: 0;
  left: 5.91px;
  line-height: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 303.18px;
  height: 50px;
}
.groupDiv38 {
  position: absolute;
  top: 207px;
  left: 0;
  width: 315px;
  height: 50px;
  text-align: center;
  font-size: 16px;
  color: #1e1e1e;
}
.groupDiv36 {
  position: absolute;
  top: 1947px;
  left: 309px;
  width: 546px;
  height: 257px;
  font-size: 28px;
  color: #141414;
}
.rectangleDiv10 {
  position: absolute;
  top: 0;
  left: 472px;
  background-color: #141414;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  width: 55px;
  height: 55px;
}
.image2Icon {
  position: absolute;
  top: 2px;
  left: 8px;
  width: 518px;
  height: 361px;
  object-fit: cover;
}
.rectangleDiv11 {
  position: absolute;
  top: 315px;
  left: 0;
  background-color: #141414;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  width: 46px;
  height: 46px;
}
.groupDiv39 {
  position: absolute;
  top: 1889px;
  left: 889px;
  width: 527px;
  height: 361px;
}
.groupDiv40,
.groupDiv42,
.groupDiv44,
.groupIcon8 {
  position: absolute;
  top: 1537px;
  left: 535px;
  width: 319px;
  height: 287px;
}
.groupDiv42,
.groupDiv44,
.groupIcon8 {
  left: 874px;
}
.groupDiv44,
.groupIcon8 {
  left: 1213px;
}
.groupIcon8 {
  top: 541px;
  left: 1455px;
  width: 97px;
  height: 285px;
}
.loremIpsumDiv2 {
  position: absolute;
  top: 2372px;
  left: 196px;
  font-size: 19px;
  line-height: 27px;
  color: #1e1e1e;
  display: inline-block;
  width: 1317px;
}
.nFTsMetaverso,
.nFTsMetaverso1,
.nFTsMetaverso2 {
  position: absolute;
  top: 2742px;
  left: 196px;
  font-size: 13px;
  display: inline-block;
  width: 116px;
  height: 19px;
}
.nFTsMetaverso1,
.nFTsMetaverso2 {
  left: 648px;
  width: 129px;
}
.nFTsMetaverso2 {
  left: 1100px;
  width: 128px;
}
.image15Div {
  position: absolute;
  top: 2413px;
  left: 196px;
  background-color: #818181;
  width: 432px;
  height: 214px;
}
.becomeAnInstructor {
  position: absolute;
  top: 0;
  left: 0;
  font-size: 28px;
  line-height: 28px;
  display: inline-block;
  width: 546px;
}
.instructoresDeTodoElMundo1 {
  position: absolute;
  top: 58px;
  left: 1px;
  line-height: 24px;
  display: inline-block;
  width: 545px;
  height: 137px;
}
.groupDiv47 {
  position: absolute;
  top: 209px;
  left: 1px;
  width: 315px;
  height: 50px;
  text-align: center;
  color: #1e1e1e;
}
.groupDiv46 {
  position: absolute;
  top: 2904px;
  left: 309px;
  width: 546px;
  height: 259px;
  font-size: 16px;
  color: #141414;
}
.rectangleDiv13 {
  position: absolute;
  top: 0;
  left: 444px;
  background-color: #fff;
  border: 1px solid #141414;
  box-sizing: border-box;
  width: 55px;
  height: 55px;
}
.image2Icon1 {
  position: absolute;
  top: 2px;
  left: -20px;
  width: 518px;
  height: 361px;
  object-fit: cover;
}
.groupDiv48 {
  position: absolute;
  top: 2847px;
  left: 918px;
  width: 499px;
  height: 343px;
}
.ellipseIcon,
.vectorIcon4 {
  position: absolute;
  top: 3064.65px;
  left: 889.29px;
  width: 22.42px;
  height: 125.71px;
}
.ellipseIcon {
  top: 2841px;
  left: 890px;
  width: 63px;
  height: 63px;
}
.image16Div,
.image17Div {
  position: absolute;
  top: 2413px;
  left: 648px;
  background-color: #818181;
  width: 432px;
  height: 214px;
}
.image17Div {
  left: 1100px;
}
.cocaColaCelebratesNational,
.coinbaseXBlackRockNewInst,
.instagramJoinsTheNFTsThank {
  position: absolute;
  top: 2638px;
  left: 1100px;
  font-size: 18px;
  line-height: 26px;
  display: inline-block;
  color: #141414;
  width: 316px;
  height: 123px;
}
.cocaColaCelebratesNational,
.instagramJoinsTheNFTsThank {
  top: 2641px;
  left: 648px;
  width: 318px;
}
.cocaColaCelebratesNational {
  left: 196px;
  width: 426px;
  height: 135px;
}
.cLAIMIcon,
.groupIcon9 {
  position: absolute;
  top: 69px;
  left: 196px;
  width: 1336px;
  height: 369px;
}
.groupIcon9 {
  top: 952px;
  left: 1455px;
  width: 97px;
  height: 285px;
}
.learningInsTheSourceOfHum,
.startSwithcOrAdvanceYpour {
  position: absolute;
  top: 0;
  left: 0;
  font-weight: 600;
  display: inline-block;
  width: 545px;
}
.startSwithcOrAdvanceYpour {
  top: 25px;
}
.groupDiv50 {
  position: absolute;
  top: 119px;
  left: 0;
  width: 545px;
  height: 50px;
}
.loremIpsumSpan {
  font-weight: 800;
}
.withoutLimitsB {
  text-decoration: underline;
}
.loremIpsumWithoutLimits {
  position: absolute;
  top: 0;
  left: 0;
  font-size: 46px;
  line-height: 52px;
  display: inline-block;
  width: 541px;
}
.groupDiv49 {
  position: absolute;
  top: 138px;
  left: 308px;
  width: 545px;
  height: 169px;
  font-size: 18px;
  color: #141414;
}
.cLAIMIcon1 {
  position: absolute;
  top: 0;
  left: 0;
  width: 1336px;
  height: 114.17px;
}
.doYouWantToBecomeAnInstr {
  position: absolute;
  top: 17px;
  left: 226px;
  line-height: 32px;
  display: inline-block;
  width: 884px;
}
.cTAB,
.groupDiv53 {
  position: absolute;
  width: 135.71px;
  height: 50px;
}
.cTAB {
  top: 0;
  left: 0;
  line-height: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.groupDiv53 {
  top: 2px;
  left: 417.65px;
}
.knowMoreAboutIntructorGets {
  position: absolute;
  top: 0;
  left: 0;
  line-height: 32px;
  color: #fff;
  display: inline-block;
  width: 658px;
}
.groupDiv51,
.groupDiv52 {
  position: absolute;
  top: 52px;
  left: 339px;
  width: 658px;
  height: 52px;
  font-size: 16px;
  color: #141414;
}
.groupDiv51 {
  top: 1287px;
  left: 196px;
  width: 1336px;
  height: 114.17px;
  text-align: center;
  font-size: 20px;
  color: #fff;
}
.rectangleDiv14,
.starLearningHere {
  position: absolute;
  height: 100%;
  top: 0;
  bottom: 0;
}
.rectangleDiv14 {
  width: 100%;
  right: 0;
  left: 0;
  background-color: #141414;
}
.starLearningHere {
  width: 96.25%;
  right: 1.88%;
  left: 1.88%;
  line-height: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.bUTTONSBUTTONCLAIMDiv {
  position: absolute;
  top: 331px;
  left: 308px;
  width: 217px;
  height: 40px;
  text-align: center;
  font-size: 16px;
  color: #fff;
}
.rectangleDiv15 {
  position: absolute;
  top: 70px;
  left: 0;
  background-color: #464646;
  width: 1728px;
  height: 41px;
}
.cryptocurrenciesTradingEcono {
  position: absolute;
  top: 81px;
  left: 4px;
  color: #fff;
  text-align: center;
  display: inline-block;
  width: 1724px;
}
.metaverseDiv {
  height: 28.57%;
  width: 4.28%;
  top: 40%;
  right: 30.15%;
  bottom: 31.43%;
  left: 65.57%;
  font-size: 15px;
}
.academyB,
.docsDiv,
.metaverseDiv,
.newsDiv,
.tVDiv {
  position: absolute;
  display: inline-block;
}
.academyB {
  height: 22.86%;
  width: 3.24%;
  top: 62.86%;
  right: 83.62%;
  bottom: 14.29%;
  left: 13.14%;
  font-size: 12px;
}
.docsDiv,
.newsDiv,
.tVDiv {
  height: 27.14%;
  width: 0.98%;
  top: 41.43%;
  right: 26.5%;
  bottom: 31.43%;
  left: 72.51%;
}
.docsDiv,
.newsDiv {
  width: 1.85%;
  right: 18.52%;
  left: 79.63%;
}
.newsDiv {
  width: 2.08%;
  right: 22.4%;
  left: 75.52%;
}
.rectangleDiv17 {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: #000;
}
.loginRegister {
  position: absolute;
  height: 38.91%;
  width: 64.91%;
  top: 29.12%;
  right: 9.79%;
  bottom: 31.97%;
  left: 25.29%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.groupDiv55 {
  position: absolute;
  height: 50%;
  width: 9.84%;
  top: 25.71%;
  right: 1.16%;
  bottom: 24.29%;
  left: 89%;
  display: none;
  text-align: center;
}
.b2B1,
.becomeAnInstructor1 {
  position: absolute;
  height: 100%;
  width: 71.49%;
  top: 0;
  right: 28.51%;
  bottom: 0;
  left: 0;
  display: inline-block;
}
.b2B1 {
  width: 12.81%;
  right: 0;
  left: 87.19%;
}
.groupDiv56 {
  position: absolute;
  height: 31.43%;
  width: 14%;
  top: 35.71%;
  right: 50.69%;
  bottom: 32.86%;
  left: 35.3%;
  font-size: 16px;
  color: #000;
}
.groupDiv54 {
  height: 100%;
  top: 0;
}
.groupDiv54,
.headerDiv,
.rectangleDiv18 {
  position: absolute;
  width: 100%;
  right: 0;
  bottom: 0;
  left: 0;
}
.headerDiv {
  height: 100%;
  top: 0;
  color: #fff;
}
.rectangleDiv18 {
  height: 2.86%;
  top: 97.14%;
  background-color: #000;
}
.capturaDePantalla2022100324 {
  position: absolute;
  height: 71.43%;
  width: 15.34%;
  top: 4.29%;
  right: 84.43%;
  bottom: 24.29%;
  left: 0.23%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.aCADEMYB {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: inline-block;
}
.groupDiv57 {
  position: absolute;
  height: 27.14%;
  width: 3.99%;
  top: 55.71%;
  right: 85.82%;
  bottom: 17.14%;
  left: 10.19%;
}
.groupDiv59,
.rectangleDiv19 {
  position: absolute;
  height: 54.29%;
  width: 16.79%;
  top: 17.14%;
  right: 83.21%;
  bottom: 28.57%;
  left: 0;
}
.rectangleDiv19 {
  height: 100%;
  width: 81.17%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 18.83%;
  background-color: #fff;
  border: 1px solid #000;
  box-sizing: border-box;
}
.groupIcon10,
.groupIcon11 {
  position: absolute;
  height: 40%;
  width: 3.56%;
  top: 22.86%;
  right: 3.82%;
  bottom: 37.14%;
  left: 92.62%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.groupIcon11 {
  height: 26.5%;
  width: 2.37%;
  top: 53.5%;
  right: 2.29%;
  bottom: 20%;
  left: 95.34%;
}
.groupDiv58,
.groupIcon12 {
  position: absolute;
  height: 50%;
  width: 22.74%;
  top: 25.71%;
  right: 14.99%;
  bottom: 24.29%;
  left: 62.27%;
}
.groupIcon12 {
  height: 99.39%;
  width: 48.52%;
  top: 3.7%;
  right: 52.58%;
  bottom: -3.09%;
  left: -1.1%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.groupDiv60,
.groupDiv61 {
  position: absolute;
  height: 92.23%;
  width: 41.01%;
  top: 0;
  right: 0;
  bottom: 7.77%;
  left: 58.99%;
}
.groupDiv60 {
  height: 32.19%;
  width: 2.62%;
  top: 32.1%;
  right: 11.67%;
  bottom: 35.71%;
  left: 85.71%;
}
.groupIcon13,
.vectorIcon5,
.vectorIcon6 {
  position: absolute;
  height: 51.43%;
  width: 0.06%;
  top: 22.86%;
  right: 85.01%;
  bottom: 25.71%;
  left: 14.93%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.groupIcon13,
.vectorIcon6 {
  right: 78.62%;
  left: 21.33%;
}
.groupIcon13 {
  height: 30%;
  width: 1.22%;
  top: 34.29%;
  right: 9.14%;
  bottom: 35.71%;
  left: 89.64%;
}
.coursesCategoriesB {
  position: absolute;
  height: 100%;
  width: 91.62%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 8.38%;
  display: inline-block;
}
.vectorIcon7 {
  position: absolute;
  height: 22.73%;
  width: 4.79%;
  top: 36.36%;
  right: 95.21%;
  bottom: 40.91%;
  left: 0;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.groupDiv62 {
  position: absolute;
  height: 31.43%;
  width: 9.66%;
  top: 35.71%;
  right: 67.19%;
  bottom: 32.86%;
  left: 23.15%;
  font-size: 16px;
}
.rectangleDiv20,
.rectangleDiv21,
.rectangleDiv22 {
  position: absolute;
  height: 29.41%;
  width: 29.41%;
  top: 0;
  right: 70.59%;
  bottom: 70.59%;
  left: 0;
  background-color: #000;
}
.rectangleDiv21,
.rectangleDiv22 {
  right: 35.29%;
  left: 35.29%;
}
.rectangleDiv22 {
  right: 0;
  left: 70.59%;
}
.rectangleDiv23,
.rectangleDiv24,
.rectangleDiv25,
.rectangleDiv26,
.rectangleDiv27,
.rectangleDiv28 {
  position: absolute;
  height: 29.41%;
  width: 29.41%;
  top: 35.29%;
  right: 70.59%;
  bottom: 35.29%;
  left: 0;
  background-color: #000;
}
.rectangleDiv24,
.rectangleDiv25,
.rectangleDiv26,
.rectangleDiv27,
.rectangleDiv28 {
  right: 35.29%;
  left: 35.29%;
}
.rectangleDiv25,
.rectangleDiv26,
.rectangleDiv27,
.rectangleDiv28 {
  right: 0;
  left: 70.59%;
}
.rectangleDiv26,
.rectangleDiv27,
.rectangleDiv28 {
  top: 70.59%;
  right: 70.59%;
  bottom: 0;
  left: 0;
}
.rectangleDiv27,
.rectangleDiv28 {
  right: 35.29%;
  left: 35.29%;
}
.rectangleDiv28 {
  right: 0;
  left: 70.59%;
}
.groupDiv64,
.vectorIcon8 {
  position: absolute;
  height: 100%;
  width: 54.84%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 45.16%;
}
.vectorIcon8 {
  height: 29.41%;
  width: 25.81%;
  top: 35.29%;
  right: 74.19%;
  bottom: 35.29%;
  left: 0;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.appsDiv,
.groupDiv63 {
  position: absolute;
  height: 58.8%;
  width: 30.54%;
  top: 10.38%;
  right: 69.46%;
  bottom: 30.83%;
  left: 0;
  display: none;
}
.appsDiv {
  height: 100%;
  width: 61.46%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 38.54%;
}
.appsDropdownDiv {
  position: absolute;
  height: 41.3%;
  width: 5.88%;
  top: 30%;
  right: 78.67%;
  bottom: 28.7%;
  left: 15.45%;
}
.frameDiv,
.headersHeaderBlackDesktop {
  position: absolute;
  top: 0;
  left: 0;
  width: 1728px;
  height: 70px;
}
.frameDiv {
  top: 1px;
  color: #000;
}
.appsDiv1,
.groupDiv65 {
  position: absolute;
  height: 58.8%;
  width: 30.54%;
  top: 10.38%;
  right: 69.46%;
  bottom: 30.83%;
  left: 0;
}
.appsDiv1 {
  height: 100%;
  width: 61.46%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 38.54%;
  display: inline-block;
}
.appsDropdownDiv1 {
  position: absolute;
  top: 25px;
  left: 272px;
  width: 101.52px;
  height: 28.91px;
  color: #000;
}
.capturaDePantalla20220719 {
  position: absolute;
  top: 0;
  left: 0;
  width: 1728px;
  height: 415px;
  object-fit: cover;
}
.capturaDePantalla202207191,
.rectangleDiv38 {
  position: absolute;
  top: 89.06px;
  height: 209.34px;
}
.capturaDePantalla202207191 {
  left: 572.57px;
  width: 789.85px;
  object-fit: cover;
}
.rectangleDiv38 {
  left: 1320.2px;
  background-color: #1c1d21;
  width: 204.93px;
}
.academyDiv,
.allProductsB,
.homeDiv,
.newsDiv1,
.tVDiv1 {
  position: absolute;
  top: 157px;
  left: 1356.24px;
  display: inline-block;
  width: 45.31px;
  height: 15.61px;
}
.academyDiv,
.allProductsB,
.newsDiv1,
.tVDiv1 {
  top: 182.71px;
  width: 40.16px;
}
.academyDiv,
.allProductsB,
.tVDiv1 {
  top: 123.95px;
  width: 92.68px;
}
.academyDiv,
.tVDiv1 {
  top: 207.5px;
  width: 18.54px;
}
.academyDiv {
  top: 232.29px;
  width: 69px;
}
.eSDiv,
.groupDiv68 {
  position: absolute;
  top: 0;
  left: 0;
  width: 1728px;
  height: 415px;
}
.eSDiv {
  left: 21.63px;
  display: inline-block;
  width: 18.54px;
  height: 15.61px;
}
.e5a0e75e2419c45574525a5ac5aaf3Icon {
  position: absolute;
  top: 0;
  left: 0;
  width: 18.54px;
  height: 16.53px;
  overflow: hidden;
}
.eNDiv,
.groupDiv69 {
  position: absolute;
  top: 246.98px;
  left: 799.12px;
  width: 40.16px;
  height: 16.53px;
}
.eNDiv {
  top: 0;
  left: 21.63px;
  display: inline-block;
  width: 21.63px;
  height: 15.61px;
}
.groupDiv70,
.idiomaB {
  position: absolute;
  top: 246.98px;
  left: 894.89px;
  width: 43.25px;
  height: 16.53px;
}
.idiomaB {
  top: 219.44px;
  left: 795px;
  display: inline-block;
  width: 52.52px;
  height: 15.61px;
}
.groupDiv67 {
  position: absolute;
  top: 3358px;
  left: -4px;
  width: 1728px;
  height: 415px;
  color: #fff;
  font-family: Montserrat;
}
.lOGGEDHOMEPAGEV1 {
  position: relative;
  background-color: #fff;
  width: 100%;
  height: 3773px;
  text-align: left;
  font-size: 14px;
  color: #186cb0;
  font-family: "Open Sans";
}
